:root {
  font-size: 16px;
  --bg: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: var(--bg);
  transition: 0.3s;
}

html.dark {
  --bg: #050505;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.layout[theme-mode='light'] {
  --surface1: #cccccc;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --surface4: #f9f9f9;
  --element1: #121212;
  --element2: #555555;
  --element3: #000000;
  --element4: #918f8f;
  --element5: #b3b3b3;
  --element6: #e0e0e0;
  --hljs0: #f3f3f3;
}

.layout[theme-mode='dark'] {
  --surface1: #ebebeb;
  --surface2: #333333;
  --surface3: #121212;
  --surface4: #191919;
  --element1: #d5d5d5;
  --element2: #bbbbbb;
  --element3: #ffffff;
  --element4: #cac6c6;
  --element5: #8e8c8c;
  --element6: #333333;
  --hljs0: #333333;
}
