:root {
  font-size: 16px;
  --bg: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: var(--deepbg);
  transition: 0.3s;
}

html.dark {
  --deepbg: #050505;
  /* --bg: #101010; */
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.table-of-contents {
  opacity: 0.5 !important;
}

.layout[theme-mode='light'] {
  --surface1: #cccccc;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --surface4: #f9f9f9;
  --element1: #121212;
  --element2: #555555;
  --element3: #000000;
  --element4: #918f8f;
  --element5: #b3b3b3;
  --element6: #e0e0e0;
  --element7: #f1f1f1;
  --element8: #476582;
}

.layout[theme-mode='dark'] {
  --surface1: #ebebeb;
  --surface2: #333333;
  --surface3: #121212;
  --surface4: #191919;
  --element1: #d5d5d5;
  --element2: #bbbbbb;
  --element3: #ffffff;
  --element4: #cac6c6;
  --element5: #8e8c8c;
  --element6: #333333;
  --element7: #3a3a3a;
  --element8: #aac8e4;
}

/* 
Shiki line hightlight:
https://github.com/antfu/markdown-it-shiki#highlight-lines 
*/

.shiki {
  /* font-family: 'mononoki', 'DM Mono', 'Input Mono', 'Fira Code', monospace; */
  font-size: 1.05em;
  line-height: 1.4;
  /* margin: 0.5em 0; */
  padding: 10px 20px;
  margin: 0;
  overflow: auto;
}

.shiki-light {
  background: #f8f8f8 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}

.shiki .highlighted {
  background: #7f7f7f20;
  display: block;
  margin: 0 -1rem;
  padding: 0 1rem;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}
