.container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 22px;
}

.icon {
  position: relative;
  top: 2px;
  display: flex;
  align-items: center;
  color: var(--element1);
  cursor: pointer;
}

.pc {
  display: block;
  color: var(--element9);
  opacity: 0.6;
  font-weight: 500;
}

.pc:hover {
  opacity: 1;
}

.mobile {
  display: none;
}

.blank {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px 25px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .nav {
    gap: 13px;
  }
}
