@font-face {
  font-family: Pacifico;
  src: url(../fonts/pacifico/Pacifico.ttf);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 22px;
}

.signature {
  margin-right: auto;
  font-family: Pacifico, serif;
  font-size: 25px;
  color: var(--element1);
}

.icon {
  display: flex;
  align-items: center;
  color: var(--element1);
}

.pc {
  display: block;
  color: var(--element1);
}

.mobile {
  display: none;
}

.blank {
  display: none;
}

@media screen and (max-width: 600px) {
  .pc {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .nav {
    gap: 13px;
  }
}
