.article {
  max-width: 600px;
  margin: auto;
}

.tech {
  margin-right: 10px;
  font-size: 30px;
  color: var(--element2);
  cursor: pointer;
}

.tech:hover {
  color: var(--element3);
}

.selected {
  color: var(--element3);
}

.list {
  margin-top: 50px;
  border-left-style: solid;
  border-left-width: 4px;
  /* padding-left: 1.5rem; */
  border-color: rgba(125, 125, 125, 0.4);
}

/* .link {
  width: 200px;
} */

.item {
  padding: 10px 0 10px 1.5rem;
}

.name {
  font-size: 18px;
  opacity: 0.7;
  color: var(--element3);
  transition: 0.3s;
  margin-bottom: 5px;
}

.time {
  font-size: 14px;
  opacity: 0.5;
  color: var(--element3);
  transition: 0.3s;
}

.item:hover {
  border: 0px solid transparent;
  border-radius: 5px;
  background-color: rgba(156, 163, 175, 0.1);
}

.item:hover .name {
  opacity: 1;
}

.item:hover .time {
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .list {
    border-left-style: none;
  }

  .tech {
    font-size: 20px;
  }
}
