@import 'xgplayer/dist/index.min.css';
@import 'twist-aplayer/dist/index.min.css';
@import './animation.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --background: 0 0% 100%;
    --hover: 217 19% 27%;
    --hover2: 217 19% 8%;
    --icon: 0 0% 7%;
    --primary: 0 0% 33%;
    --secondary: 0 0% 0%;
    --muted: 0 0% 70%;
    --muted2: 0 0% 98%;
    --accent: 0 0% 33%;
    --round: 240 4.8% 95.9%;
    --border: 240 5.9% 90%;
    --code: 0 0% 98%;
    --highlight: 240 5% 96%;
    --block: 0 0% 9%;
    --link: 0 0% 49%;
    --badge: 240 5.9% 10%;
  }

  .dark {
    --background: 0 0% 2%;
    --hover: 220 13% 91%;
    --hover2: 220 40 98%;
    --icon: 0 0% 83%;
    --primary: 0 0% 73%;
    --secondary: 0 0% 100%;
    --muted: 0 1% 55%;
    --muted2: 0 0% 10%;
    --accent: 0 0% 73%;
    --round: 240 3.7% 15.9%;
    --border: 240 3.7% 15.9%;
    --code: 0 0% 5%;
    --highlight: 240 4% 16%;
    --block: 0 0% 93%;
    --link: 0 0% 49%;
    --badge: 0 0% 98%;
  }
}

@layer base {

  html {
    @apply bg-background text-accent transition-all duration-300;
  }

  ::selection {
    background: #8884;
  }
}

.image-preview {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

/** reference https://github.com/antfu/antfu.me/blob/main/src/styles/main.css#L90 */
@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  [data-slide-enter],
  .slide-enter,
  .slide-enter-content > *:not(:has(.image-preview)) {
    --enter-stage: 0;
    --enter-step: 60ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) {
    --enter-stage: 1 !important;
  }
  .slide-enter-content > *:nth-child(2) {
    --enter-stage: 2 !important;
  }
  .slide-enter-content > *:nth-child(3) {
    --enter-stage: 3 !important;
  }
  .slide-enter-content > *:nth-child(4) {
    --enter-stage: 4 !important;
  }
  .slide-enter-content > *:nth-child(5) {
    --enter-stage: 5 !important;
  }
  .slide-enter-content > *:nth-child(6) {
    --enter-stage: 6 !important;
  }
  .slide-enter-content > *:nth-child(7) {
    --enter-stage: 7 !important;
  }
  .slide-enter-content > *:nth-child(8) {
    --enter-stage: 8 !important;
  }
  .slide-enter-content > *:nth-child(9) {
    --enter-stage: 9 !important;
  }
  .slide-enter-content > *:nth-child(10) {
    --enter-stage: 10 !important;
  }
  .slide-enter-content > *:nth-child(11) {
    --enter-stage: 11 !important;
  }
  .slide-enter-content > *:nth-child(12) {
    --enter-stage: 12 !important;
  }
  .slide-enter-content > *:nth-child(13) {
    --enter-stage: 13 !important;
  }
  .slide-enter-content > *:nth-child(14) {
    --enter-stage: 14 !important;
  }
  .slide-enter-content > *:nth-child(15) {
    --enter-stage: 15 !important;
  }
  .slide-enter-content > *:nth-child(16) {
    --enter-stage: 16 !important;
  }
  .slide-enter-content > *:nth-child(17) {
    --enter-stage: 17 !important;
  }
  .slide-enter-content > *:nth-child(18) {
    --enter-stage: 18 !important;
  }
  .slide-enter-content > *:nth-child(19) {
    --enter-stage: 19 !important;
  }
  .slide-enter-content > *:nth-child(20) {
    --enter-stage: 20 !important;
  }
}